
.sign-up-in-section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.rounded-custom {
  border-radius: 1rem !important;
}
.bg-dark {
  background-color: #0b163f !important;
}
.bg-light h1,
.bg-light h2,
.bg-light h3,
.bg-light h4,
.bg-light h5,
.bg-light h6 {
  color: initial;
}
.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
  font-weight: 700;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #d8dade;
  border-color: #d8dade #d8dade #fff;
}